
.background {
    position: relative;

    width: 1080px;
    height: 800px;

    margin: 20px auto;
    background: linear-gradient(to bottom, #000328, #00020f);
}

.objects {
    position: absolute;
    pointer-events: none;
}

.objects.static {
    width: 699px;
    height: 594px;

    top: 115px;
    left: 182px;

    background: url("img/objects/static.png") center no-repeat;
}


@keyframes color {
    0% {filter: hue-rotate(0deg);}
    50% {filter: hue-rotate(40deg);}
    100% {filter: hue-rotate(0deg);}
}
.objects.kover {
    width: 272px;
    height: 171px;

    bottom: 135px;
    left: 375px;

    background: url("img/objects/kover.png") center no-repeat;

    animation: color 5s linear infinite;
}


.objects.mishsitting {
    width: 121px;
    height: 180px;

    bottom: 47px;
    left: 230px;
}
.mishsitting .mish {
    width: 121px;
    height: 180px;

    background: url("img/objects/mishsitting/mish.png") center no-repeat;
}
@keyframes  size{
    0% {transform: scaleY(1)}
    5% {transform: scaleY(0.2)}0% {transform: scaleY(1)}
    10% {transform: scaleY(1)}
    15% {transform: scaleY(0.2)}
    20% {transform: scaleY(1)}
    100% {transform: scaleY(1)}
}
.mishsitting .eyes {
    position: absolute;

    width: 53px;
    height: 33px;

    bottom: 125px;
    left: 49px;

    background: url("img/objects/mishsitting/eyes.png") center no-repeat;

    animation: size 3s infinite linear;
}


.objects.naushniki {
    width: 200px;
    height: 100px;
    left: 206px;
    top: 214px;
}
@keyframes scale {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.1,1.1);}
    100% {transform: scale(1,1);}
}
.naushniki .naushnik {
    position: absolute;
    z-index: 1;

    width: 96px;
    height: 72px;

    right: 0;
    top: 0;

    background: url("img/objects/naushniki/naushniki.png") center no-repeat;

    animation: scale 500ms infinite linear;
}
@keyframes noti {
    0% {
        transform: scale(1,1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.1,1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1,1);
        opacity: 0.6;
    }
}
.naushniki .noti {
    position: absolute;
    z-index: 1;

    width: 83px;
    height: 68px;

    left: 0;
    top: 0;

    background: url("img/objects/naushniki/noti.png") center no-repeat;

    animation: noti 500ms infinite linear;
}


.book .pages{
    position: absolute;
    z-index: 1;

    width: 202px;
    height: 105px;

    left: 498px;
    top: 269px;

    background: url("img/objects/book/book.png") center no-repeat;
}
.book .text {
    position: absolute;
    z-index: 1;

    width: 151px;
    height: 65px;

    left: 516px;
    top: 284px;

    background: url("img/objects/book/text.png") center no-repeat;

    pointer-events: auto;
    transition: opacity 2s;
}
.book .text:hover {
    opacity: 0;
}


@keyframes moving {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(30deg);}
    50% {transform: rotate(0deg);}
    60% {filter: hue-rotate(20deg);}
    75% {
        transform: rotate(-30deg);
        filter: hue-rotate(40deg);
        }
    90% {filter: hue-rotate(20deg);}
    100% {transform: rotate(0deg);}
}
.objects.candy {
    z-index: 1;

    width: 76px;
    height: 95px;

    top: 213px;
    right: 336px;

    background: url("img/objects/candy.png") center no-repeat;

    animation: moving 3s infinite linear;
}


@keyframes move-around {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
.objects.pancil {
    z-index: 1;

    width: 98px;
    height: 68px;

    top: 175px;
    right: 433px;

    background: url("img/objects/pancil.png") center no-repeat;

    animation: move-around 5s infinite linear;
}


.objects.mishrukzak {
    z-index: 1;

    width: 119px;
    height: 114px;

    bottom: 282px;
    right: 238px;

    overflow: hidden;

    pointer-events: auto;
}
.objects.mishrukzak:hover .inner-mish{
    top: 100%;
}
.inner-mish {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background: url("img/objects/mishrukzak.png") center no-repeat;

    transition: top 250ms;
}


.objects.magic {
    z-index: 2;

    width: 210px;
    height: 258px;

    top: 136px;
    left: 358px;

    background: url("img/objects/magic.png") center no-repeat;
}


@keyframes shining {
    0% {box-shadow: -4px 10151px 50px rgba(220, 145, 255, 1);}
    50% {box-shadow: -4px 10151px 100px rgba(220, 145, 255, 1);}
    100% {box-shadow: -4px 10151px 50px rgba(220, 145, 255, 1);}
}
.objects.star {
    z-index: 2;

    width: 51px;
    height: 47px;

    top: -10000px;
    left: 545px;

    background: url("img/objects/star.png") center no-repeat;

    animation: shining 2s linear infinite;
}


@keyframes sparkles {
    0% {
        filter: saturate(1) brightness(1) blur(50px) drop-shadow(8px 7px 10px rgba(220, 145, 255, 0.8));
        transform: rotate(-180deg);
    }
    40% {
        filter: saturate(1) brightness(1) blur(50px) drop-shadow(8px 7px 10px rgba(220, 145, 255, 0.8));
        transform: rotate(-180deg);
    }
    60% {
        filter: saturate(1) brightness(1) blur(0px) drop-shadow(8px 7px 10px rgba(220, 145, 255, 0.8));
        transform: rotate(0deg);
    }
    65% {
        filter: saturate(7) brightness(3) blur(0px) drop-shadow(8px 7px 10px rgba(220, 145, 255, 0.8));
        transform: rotate(0deg);
    }
    80% {
        filter: saturate(7) brightness(3) blur(0px) drop-shadow(8px 7px 10px rgba(220, 145, 255, 0.8));
        transform: rotate(0deg);
    }
    100% {
        filter: saturate(1) brightness(1) blur(50px) drop-shadow(8px 7px 10px rgba(220, 145, 255, 0.8));
        transform: rotate(180deg);
    }

}
.objects.sparkles {
    z-index: 5;

    width: 800px;
    height: 603px;

    top: 44px;
    left: 96px;

    background: url("img/objects/sparkles.png") center no-repeat;

    animation: sparkles 30s linear infinite;
}


@keyframes spider-hiding {
    0% {bottom: 100%;}
    30% {bottom: 100%;}
    50% {bottom: 0;}
    80% {bottom: 0;}
    90% {bottom: 100%;}
    100% {bottom: 100%;}
}
.objects.spider {
    z-index: 1;

    width: 111px;
    height: 215px;

    top: 0;
    right: 155px;

    overflow: hidden;

}
.spider .inner-spider {
    position: absolute;

    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: url("img/objects/spider.png");

    animation: spider-hiding 10s linear infinite;
}
